name: Deploy sitri

on:
  release:
    types: [published]

  workflow_call:

jobs:
  tests-n-lints:
    uses: ./.github/workflows/push.yml

  deploy:
    runs-on: ubuntu-latest
    needs: [tests-n-lints]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v1
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel attrs codecov pdm
          pdm install --group :all
          eval $(pdm venv activate)
      - name: Build and publish
        run: |
          pdm publish -u __token__ -P ${{ secrets.PYPI_TOKEN }}
